# Data Engineering

In [1]:
from os import path
import pandas as pd

# Observe measurement data

In [2]:
data_file = 'hawaii_measurements.csv'
df_measurements = pd.read_csv(path.join('Resources', data_file))

In [3]:
df_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
df_measurements.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [5]:
df_measurements.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [6]:
df_measurements.groupby('station').count()

             date  prcp  tobs
station
USC00511918  1979  1932  1979
USC00513117  2709  2696  2709
USC00514830  2202  1937  2202
USC00516128  2612  2484  2612
USC00517948  1372   683  1372
USC00518838   511   342   511
USC00519281  2772  2772  2772
USC00519397  2724  2685  2724
USC00519523  2669  2572  2669

## Handle NaN's
In order to preserve tobs, instead of remove rows with NaN prcp, change the value to zeros instead.

In [7]:
cleaned_csv = path.join('Resources', f'cleaned_{data_file}')
df_measurements.fillna(0.0).to_csv(
    cleaned_csv,
    index=False
)

In [8]:
df = pd.read_csv(cleaned_csv)
df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

# Observe Station Data

In [9]:
df_stations = pd.read_csv(path.join('Resources', 'hawaii_stations.csv'))

In [10]:
df_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [11]:
df_stations.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

## Conclusion on Stations Data
Stations data is clean, no need to create a clean\_ file